#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  margin-bottom: 20px;
}

main {
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}